*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  letter-spacing: 1px;
}
body {
  font-family: poppins;
  box-sizing: border-box;
    text-decoration: none;
  }
  header {
    padding: 0px 0;
    color: rgb(0, 0, 0);
    height: 116.6px;
  }
  .top-bar {
    background-color: #d57414;
    height: 38.8px;
  }
  .con{
    font-family: 'poppins', sans-serif;
    width: 1200px;
    height: 38.8px;
    margin: auto;
    display: flex;
    align-items: center;
    font-size: 13px;
  }
  .socials{
    width: 50%;
  }
  .right-links{
    width: 50%;
    text-align: right;
  }
  .top-bar a{
    color: rgb(0, 0, 0);
  }

 i{
  margin-right: 10px;
  width: 15px;
  height: 15px;
}
.lang{
  margin-right: 20px;
}
.nav-bar{
  height: 77.8px;
}
.logo{
  margin-right: 110px;
  font-weight: bold;
}
  nav {
    display: flex;
    align-items: center;
    width: 1200px;
    height: 77px;
    padding: 15px;
    background-color: white;
    height: 50px;
    margin: auto;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;   
  }
  nav ul a{
    font-size: 16px;
    line-height: 16px;
    font-family: poppins;
    color:#727475 ;
  }
  .nav-links{
     margin-right: 40px;
  }
  nav li {
   
    cursor: pointer;
  }
  .book-now a{
    color: white; 
    font-family: poppins;
    font-size: 16px;
    line-height: 16px;
  }
  .book-now{
    background-color: black;
    padding: 5px 20px;
    border-radius: 30px;
    cursor: pointer;
  }
  .hero {
    text-align: left;
    background-size: cover;
    color: rgb(0, 0, 0);
    background-image: url('assets/back\ \(2\).jpg');
    height: 433px;
    padding: 200px 178px 50px 179px;

  }
  h1{
    font-family: "Poppins", serif;
    font-weight:bold;
    padding: 50px 50px 0px 0px;
    font-size: 158px;
    font-style: normal;
    color:black;
    position: relative;
    left: 100px;
  }
  .hero p{
    position: relative;
    left: 100px;
  }
  #our{
    font-size: 14px;
    letter-spacing: 2px;
    text-align: left;
  }
  .hero h2{
    font-size: 36px;
    letter-spacing: 0px;
  }
  .search {
    position: relative;
    top: 100px;
    background: #fff;
    color: #333;
    padding: 35px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  .search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .form-group {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 150px;
    padding: 15px;
  }

  .form-group label {
    margin-bottom: 20px;
    font-size: 15px;
  }
  
  .form-group select,
  .form-group input {
    padding: 8px;
    font-family: 'open' sans-serif;
    font-size: 14px;
    color: #a3a3a3;
    background-color: #faf4f4;
    border: 1px solid #dad9d9;
    border-radius: 30px;
  }
  
  .price-range {
    display: flex;
    align-items: center;
       
  } 
  .price-range input[type="range"] {
    flex: 1;
    border: 0px;
    border-radius: 0px;
    background: #ffffff;
  }
  .price-v{
    display: flex;
    justify-content: space-between;
  }
  .price-value {
    font-weight: normal;
  }
  
  .checkbox {
    margin-top: 10px;
    font-size: 14px;
  }
  .more-filters{
    display: flex;
    justify-content: center;
  }
  .more-filters button {
    background:#d57414;
    color: #fff;
    border: none;
    font-size: 14px;
    font-family:     font-family: 'open' sans-serif;
    ;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 7px 20px;
    cursor: pointer;
    border-radius: 30px;
    position: relative;
    top: 50px;
    transition: background 0.3s ease;
  }
  
  .more-filters button i {
   font-size: 13px;
    margin-right: 5px;
  }
  
  .more-filters button:hover {
    background:rgb(40, 38, 31);;
  }
  .cards {
    width: 1200px;
    padding: 20px;
    margin: auto;
    color: #9a9a9a;
    font-size: 14px;
    line-height: 27px;
    font-family: 'poppins', sans-serif;
  }
  .card-g1{
    display: flex;
  }
  .card {
    border: 1px solid #e6e5e5;
    margin: 15px ;
    overflow: hidden;
    text-transform: capitalize;
    text-align: left;
    width: 369px;
    height: 609px;
  }
  .card img {
    width: 100%;
    height: 231px;
    object-fit: cover;
  }
  .card-content {
    padding: 30px;
  }
  h3{
    letter-spacing: 0px;
    font-weight: bold;
    font-family: 'poppins'sans-serif;
    font-size: 25px;
    color: #000;
  }
  .card i{
    font-size: 14px;
    margin-right: 5px;
    color: #dfdada;
  }
  .city{
    color: #9a9a9a;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: normal;
  }
  .i-city{
    margin-bottom: 10px;
  }
  .cult{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid rgb(216, 216, 216) ;
    border-top:1px solid rgb(216, 216, 216) ;
    padding: 10px 0px;
  }
  .cult h6{
    font-size: 14px;
    font-weight: normal;
    color: #373737;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .cult h2{
    font-size: 25px;
    font-weight: normal;
    color: #555555;
  }
  .card-content p{
    margin: 20px 0px;
    
  }
  .detail a{
    padding: 5px 20px;
    font-size: 14px;
    line-height: 27px;
    color: #ffffff;
  }
  .detail{
    background-color: #994f04;
    border: 0px;
    border-radius: 30px;
  }
  .footer-container{
    text-align: left;
    background-size: cover;
    background-image: url('assets/back\ \(2\).jpg');
    height: 637px;
    width: 1200px;
    color: #ffffff;
    padding: 0px 163.8px 0px 164.2px;

  }

  footer {
    margin: 0px 20px ;
    padding: 35px 30px ;
    background-color: #ffffff ;
    color: #a0a0a0;
  }
  .keep{
    padding-top: 80px;
    margin: 0% 15%;
  }
  .keep h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    margin-top: px;
  }
 
  .with-us{
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 26px;
    margin-bottom: 40px;

  }
  input[type="text"]{
    background-color: #f9f9f9;
    border-width: 1px;
    border-color: #f1f1f1;
    border-radius: 30px;
    border-style: solid;
    padding: 10px 20px;
    -webkit-appearance: none;
    color: #a3a3a3;
    width: 50%;
  }
  input[type="submit"][type="submit"] {
    background-color: #d57414;
    border-width: 0px;
    border-color: #fff;
    border-radius: 30px;
    border-style: solid;
    padding: 10px 20px;
    -webkit-appearance: none;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
  }
  .footer-content{
    display: flex;

  }
  .footer-content p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
h4{
  color: #4e4e4e;
  font-size: 16px;
  margin-bottom:20px ;
}
.footer-p{
  width: 50%;
}
.footer-column{
  margin: 0px 20px;
}
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  .footer-column li {
    margin-bottom: 10px;
  }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    background-color: #7f4002;
    margin: 0% 20px;
    font-size: 12px;
    padding: 20px;
  }